# Node
node_modules/
.npm/

# Build
.next/
dist/
build/
coverage/

# Env
.env
.env.local
.env.*.local

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.vscode/
.idea/
*.log
